# --- Basic metadata ---
namespace: myflix

fullnameOverride: jellyfin
nameOverride: jellyfin
traefikNamespace: traefik

image:
  repository: jellyfin/jellyfin
  tag: 10.11
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8096

persistence:
  config: /srv/jellyfin/config
  cache: /srv/jellyfin/cache
  media: /srv/media
  fonts:
    enabled: true
    path: /srv/jellyfin/fonts

resources:
  requests:
    cpu: 1000m
    memory: 2Gi
  limits:
    cpu: 2000m
    memory: 3Gi

ingress:
  enabled: true
  hosts:
    - cine.goldenflix.win
    - jf-7f4b2c9a2d.goldenflix.win # For exclusive use of app clients
  tls:
    secretName: tls-origin-cert
    
backup:
  enabled: true
  schedule: "0 18 */2 * *"          # 18:00 every 2 days
  timeZone: "Europe/Zurich"
  r2Bucket: "myflix-backups"
  retention:
    daily: 3
  r2SecretName: rclone-r2-secret
