# Namespace where traefik-sec middleware will be deployed
namespace: traefik

# Enable relaxed CSP rules for first-time setups (e.g. Jellyfin wizard)
setupMode: true

headers:
  hstsSeconds: 31536000
  includeSubdomains: true
  preload: true
  referrerPolicy: "strict-origin-when-cross-origin"
  frameDeny: true
  customResponseHeaders:
    X-Robots-Tag: "noindex, nofollow"
  contentSecurityPolicy: |
    {{- if .Values.setupMode }}
    default-src 'self';
    img-src 'self' data: blob:;
    media-src 'self' blob:;
    style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net;
    script-src 'self' 'unsafe-inline' blob:;
    connect-src 'self' ws: wss:;
    font-src 'self' data:;
    manifest-src 'self' https://goldensquare.cloudflareaccess.com;
    object-src 'none';
    frame-ancestors 'none';
    base-uri 'self';
    {{- else }}
    default-src 'self';
    img-src 'self' https://image.tmdb.org https://m.media-amazon.com https://i.ytimg.com https://repo.jellyfin.org https://image.tmdb.org https://i.ibb.co data: blob:;
    media-src 'self' blob:;
    style-src 'self' https://cdn.jsdelivr.net https://fonts.googleapis.com;
    script-src 'self' blob: https://www.youtube.com https://cdn.jsdelivr.net;
    connect-src 'self' ws: wss:;
    frame-src 'self' https://www.youtube.com;
    font-src 'self' data:;
    manifest-src 'self' https://goldensquare.cloudflareaccess.com;
    object-src 'none';
    frame-ancestors 'none';
    base-uri 'self';
    {{- end }}
