# Namespace where traefik-sec middleware will be deployed
namespace: traefik

# Enable relaxed CSP rules for first-time setups (e.g. Jellyfin wizard)
setupMode: false

headers:
  hstsSeconds: 31536000
  includeSubdomains: true
  preload: true
  referrerPolicy: "strict-origin-when-cross-origin"
  frameDeny: true
  customResponseHeaders:
    X-Robots-Tag: "noindex, nofollow"
  contentSecurityPolicy: |
    {{- if .Values.setupMode }}
    default-src * 'unsafe-inline' 'unsafe-eval' data: blob:;
    img-src * data: blob:;
    media-src * blob:;
    style-src * 'unsafe-inline' 'unsafe-eval' data: blob:;
    script-src * 'unsafe-inline' 'unsafe-eval' data: blob:;
    connect-src * ws: wss:;
    font-src * data:;
    manifest-src *;
    object-src *;
    frame-ancestors *;
    base-uri *;
    {{- else }}
    default-src 'self';
    img-src 'self' https://image.tmdb.org https://m.media-amazon.com https://i.ytimg.com https://repo.jellyfin.org https://i.ibb.co https://flagcdn.com https://cdn.jsdelivr.net data: blob:;
    media-src 'self' blob:;
    style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net https://fonts.googleapis.com;
    script-src 'self' 'unsafe-inline' blob: https://www.youtube.com https://cdn.jsdelivr.net;
    connect-src 'self' ws: wss:;
    frame-src 'self' https://www.youtube.com;
    font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com data:;
    manifest-src 'self' https://goldensquare.cloudflareaccess.com;
    object-src 'none';
    frame-ancestors 'none';
    base-uri 'self';
    {{- end }}
